#############################
# intra-old-2
#############################
# General host parameters
[general]
hostname = intra2.btx.marine.defense.gouv.fr
ip = 10.75.128.235
group = Intramar
is_master = True

# SSH Agent
[sshagent]
user = root
password = linagora

# Actions
[actions]
# Action 1
action1_label = uname -a
action1_command = "uname -a"
# Action 2
action2_label = Top 1 ligne
action2_command = "ps aux | head -2"

# Supervisions
[supervisions]
# Supervision 1
supervision1_label = Disque usage boot
supervision1_vital = True
supervision1_param = boot
supervision1_command = "df -h | grep %(supervision1_param)s"
supervision1_method = ssh
supervision1_field = 5
supervision1_low_green = 0
supervision1_low_orange = 42
supervision1_low_red = 92
supervision1_low_undef = 100

# SMB/LDAP
[smbldap]
users_searchbase = ou=lng,ou=marine,ou=defense,o=gouv,c=fr
groups_searchbase = ou=lng,ou=marine,ou=defense,o=gouv,c=fr

# Services
[services]
service1_label = SysLog
service1_command = /etc/init.d/syslog
service1_status_command = "for pid in $(cat /var/run/syslogd.pid 2>/dev/null); do ps -p $pid -o pid=; done | wc -l"
service2_label = NTPd
service2_command = /etc/init.d/ntpd
service2_status_command = "for pid in $(cat /var/run/ntpd.pid 2>/dev/null); do ps -p $pid -o pid=; done | wc -l"
